<div class="amazon-add-cart-button-wrapper">
    <div class="amazon-add-cart-button" data-color="{{ color }}"></div>
    <div class="amzNoCookie small muted">{{ trans("AmazonPayCheckout::AmazonPay.plsAcceptCookies") }}</div>
</div>