<div class="amazon-pay-button-wrapper">
    <div class="amazon-pay-button" data-color="{{ color }}"></div>
    <div class="amzNoCookie small muted">{{ trans("AmazonPayCheckout::AmazonPay.plsAcceptCookies") }}</div>
</div>