<div class="amazon-login-button-wrapper">
    <div class="amazon-login-button" data-color="{{ color }}"></div>
    <div class="amzNoCookie">
        <div><img src="{{ plugin_path('AmazonPayCheckout') }}/images/amazon_pay_logo.png" alt="Amazon Pay" v-tooltip data-toggle="tooltip" data-placement="top" title="{{ trans("AmazonPayCheckout::AmazonPay.checkoutPaymentMethodDescription") }}" /></div>
        <div class="small muted">{{ trans("AmazonPayCheckout::AmazonPay.plsAcceptCookies") }}</div>
    </div>
</div>