<div class="amazon-login-button-wrapper">
    <div class="amazon-login-button" data-color="{{ color }}"></div>
    <div class="amzNoCookie small muted">{{ trans("AmazonPayCheckout::AmazonPay.plsAcceptCookies") }}</div>
</div>