.amazon-pay-shipping-address-container ~ .shipping-addresses-select {
    display: none !important;
}

#add-item-to-basket-overlay .amazon-pay-button-wrapper {
    padding: 0 1rem 1rem 1rem;
}

#add-item-to-basket-overlay .amazon-pay-button {
    width: 10rem;
    float: right;
}

.basket-preview-footer .amazon-pay-button {
    max-width: 100%;
    margin-top: 0.5rem;
}

.amazon-login-button {
    display: inline-block;
    vertical-align: middle;
}

.page-login .amazon-login-button {
    max-width: 150px;
    margin-right: 10px;
}

.page-basket .amazon-pay-button {
    margin-top: 10px
}

.amazon-pay-shipping-address-container{
    padding:1em;
}

.checkout-amazon-pay-logo-container{
    width: 180px;
    max-width:100%;
}

.amazon-pay-change-address-container{
    text-align: right;
}

.amazon-pay-payment-info-container{
    padding:1em;
}

.amzNoCookie {
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 40%) inset;
    border-style: solid;
    border-width: 1px;
}

.amzNoCookie > a > img {
    max-width: 140px;
}

.amzNoCookie .amz-btn-Gold {
    border-color: #a88734 #9c7e31 #846a29;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
}
.amzNoCookie .amz-btn-Gold:hover {
    background: linear-gradient(to bottom, #f5d78e, #eeb933);
}

.amzNoCookie .amz-btn-LightGray {
    border-color: #ADB1B8 #A2A6AC #8D9096;
    background: linear-gradient(to bottom, #F7F8FA, #E7E9EC);
}
.amzNoCookie .amz-btn-LightGray:hover {
    background: linear-gradient(to bottom, #E6E9EF, #D9DCE1);
}

.amzNoCookie .amz-btn-DarkGray {
    border-color: #3d444c #2f353b #2c3137;
    background: linear-gradient(to bottom, #71777D, #444C54);
}
.amzNoCookie .amz-btn-DarkGray:hover {
    background: linear-gradient(to bottom, #64696F, #393F47);
}